@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;700&display=swap');

html{
    height: 100%;
    font-family: "Saira", sans-serif;
    
}

body{
    overflow-x: hidden;   
    min-height: 100%;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
}

header{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem;
    padding-left: 2rem;
    height: 1rem;
    cursor: context-menu;
  /*  box-shadow: 1px 2px 7px rgba(4, 18, 22, 0.4);  */
}

header > h1{
    cursor: pointer;
    text-align: center;   
    padding: 14px;
    border-radius: 20px;
}

header > h1:hover{
    opacity: 40%;
    transition: .5s ease-out;
}

section{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin: 9rem 0 10.5% 3rem;
}

div.descrição{
    justify-content: center;
    margin-top: 50px;
}

.descrição h1{
    font-size: 2.5rem;    
}

.titulo-pesquisa h2{   
    font-size: 2.5rem;    
    justify-content: center;
    align-items: center;
    
}

.descrição p{
    
    font-size: 1.3rem;
    max-width: 800px;
}

button{
    border: none;
    background-color: #32333a;
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 42px;
    margin-top: 10px;
    cursor: pointer;
}

.mainpesquisar{
    margin-top: 2%;
}

img #pic{
    margin: 0;
    padding: 2px;
    border-right: 2px;
    align-items: center;   
}

.divinput2{
    width: 40%;
    text-align: justify;
    margin-right: 5%;
}

label{
    font-weight: 550;
    font-size: 1.3em;
}

div #titulo{
    font-weight: bold;
}

p#titulo{
    font-size: 1.2rem;
}
.botaoPesquisar{
    height: 33px;
}

button#search-button.pesquisar{
    height: 33px;
    margin-left: 5px;
}

button#search-button.pesquisar:hover{
    cursor: pointer;
}

button:hover{
    opacity: 40%;
    transition: .5s ease-out;
}

input{
    height: 28px;
    margin-bottom: 1%;
}

footer{
    box-shadow: 1px 2px 7px rgba(4, 18, 22, 0.4);
    padding: 1rem;
    padding-left: 2rem;
    height: 1rem;
    cursor: context-menu;
}

.icon-github{
    color: #fff;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.8s ease-in forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}